{% extends "base.html.twig" %}

{% block title %}
  {{ parent() }} Erreur
{% endblock %}

{% block contenu %}
  <div class="container text-center my-5">
    <h2 class="text-danger">Oups... une erreur est survenue ❌</h2>

    {% if message is defined %}
      <p class="lead mt-3">{{ message }}</p>
    {% else %}
      <p class="lead mt-3">La page demandée est introuvable ou une erreur s’est produite.</p>
    {% endif %}

    <a href="index.php?page=accueil" class="btn btn-outline-secondary mt-4">Retour à l'accueil</a>
  </div>
{% endblock %}
